{
  "stubs": [
    {
      "name": "admins",
      "description": "this one too"
    },
    {
      "name": "id",
      "description": "this is some description"
    },
    {
      "name": "newStub",
      "description": "this is a new stub"
    }
  ]
}