{
  "sourcePort": 3000,
  "routes": [
    {
      "route": "/users",
      "proxy": "http://localhost:8090"
    },
    {
      "route": "/id",
      "proxy": "http://localhost:8090"
    },
    {
      "route": "/admins",
      "stub": "admins"
    }
  ]
}