{
  "stubs": [
    {
      "name": "admins",
      "description": "A list of admins"
    },
    {
      "name": "id",
      "description": "A list of ids"
    },
    {
      "name": "newStub",
      "description": "dummy stub for example"
    }
  ]
}